<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payment.com.openFeign.dao.PayDao">
    <!--<resultMap id="BaseResultMap" type="实体类地址">
        <id column="数据库" property="Java实体类" jdbcType="数据库类型"/>
    </resultMap>
    <insert id="create" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO payment VALUES (#{serialId})
    </insert>

    <select id="getPaymentById" parameterType="Long" resultMap="BaseResultMap">
        SELECT * from payment where id =#{id}
    </select>

    <delete id="deletePayment" parameterType="String">
        DELETE FROM payment where id =#{id}
    </delete>

    <update id="updatePayment">
        UPDATE payment SET status =#{status} WHERE id =#{id}
    </update>-->

</mapper>